{% extends 'home.html' %}


      {% block breadcrumb %}
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'projects' %}">{{project.name}}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'project_tasks' project.id %}">{{ task.name }}</a>
            </li>
            </ol>
                <hr>
                <div class="mb-4">
                <a href="{% url 'new_subtask' project.id task.id %}" class="btn btn-primary">Create subtask</a>
                </div>



      {% endblock %}

      {% block content %}

                    <table class="table">
                        <thead class="thead-inverse">
                          <tr>
                            <th>Task name</th>
                            <th>Owner</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for subtask in task.subtasks.all %}
                            <tr>
                              <td>{{ subtask.name }}</td>
                              <td>{{ subtask.created_by.username }}</td>
                              <td>{{ subtask.status }}</td>
                              <td>{{ subtask.updated_at }}</td>
                              <td>edit</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
