{% extends 'home.html' %}


{% block breadcrumb %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'projects' %}">{{project.name}}</a>
    </li>
    <li class="breadcrumb-item active">Tasks...</li>
</ol>
<hr>
<div class="mb-4">
    <a href="{% url 'new_task' project.id %}" class="btn btn-primary">Create task</a>
</div>


{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Task name</th>
        <th>Subtasks</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td><a href="{% url 'task_view' project.id task.id %}">{{ task.name }}</a></td>
        <td>{{ task.subtasks.count}}</td>
        <td>{{ task.get_status_display }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
